<a href="https://colab.research.google.com/github/niteen11/lagcc_data_analytics_micro_credential/blob/master/Unit%202%20-%20Python%20Fundamentals/Assignments/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
mylist = ['dog','cat','rat','dolphin','snail']

## 2.	Print out those variables by using a for loop

In [ ]:
mylist = ['dog','cat','rat','mice','lambs']

In [ ]:
for i in mylist:
    print(i)

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
mylist = ['dogs','cats','rats','mice','lambs']
for i in mylist:
    print(f'{i} are mammals that live on land')

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
start = 1
end = 20

In [ ]:
for i in range(start, end):
    if i % 2 == 0:
        print(i, end = ' ')

## 5.	Sort your list in alphabetic order.

In [ ]:
mylist = ['dog','cat','rat','dolphin','snail']

In [ ]:

mylist.sort()
print(mylist)

## 6.	Print out the first three elements of your list.

In [ ]:
mylist = ['dog','cat','rat','dolphin','snail']

In [ ]:
mylist[0:3]
for i in mylist[0:3]:
    print(i)

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
mylist = ['dog','cat','rat','dolphin','snail']

In [ ]:

mylist[3:]
for i in mylist[3:]:
    print(i)